.pay_form
{
    font-size:40px;
    display: flex;
    justify-content: center;
}
input[type="text"] 
{
    height: 25px;
    width: 100%; 
}
.pay 
{
    background-color: green;
    font-size:25px;
    height: 40px;
    display: flex;
    justify-content: center;
}